/**/
#nav-menu{
	border-radius: 0px !important; 
}

#nav-profile a{
	min-width: 160px;
	display: inline-block;
	position: relative;
	padding: 15px !important;
	color: #777
}

#nav-profile .caret{
	float: right;
	margin-top: 8px;
}

.custom-form-inline > a{
	padding: 15px;
    color: #777;
    display: block;
	height: 50px;
}

.alert-custom
{
	margin: 10px !important;
}